.main {
  .header-con {
    background-color: #fff;
    padding: 0 20px;
    width: 100%;
  }

  .main-layout-con {
    height: 100%;
    overflow: hidden;
  }

  .main-content-con {
    height: ~"calc(100% - 60px)";
    overflow: hidden;
  }

  .content-wrapper {
    padding: 18px;
    height: ~"calc(100% - 80px)";
    overflow: auto;
  }

  .left-sider {
    background-color: #001529;
    .ivu-layout-sider-children {
      overflow-y: scroll;
      margin-right: -18px;
    }
  }
}